<div class="particles" id="particles"></div>

<div class="container">
  <div class="text">
    We have now been together for:
  </div>
  <div class="clock">
    <div class="years">
      {{clockStrings.years}} years
    </div>
    <div class="months">
      {{clockStrings.months}} months
    </div>
    <div class="days">
      {{clockStrings.days}} days
    </div>
    <div class="hours">
      {{clockStrings.hours}} hours
    </div>
    <div class="minutes">
      {{clockStrings.minutes}} minutes
    </div>
    <div class="seconds">
      {{clockStrings.seconds}} seconds
    </div>
  </div>
  <div class="text2">
    Love you always and forever Lucy...
  </div>
</div>